<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Mukta:300,400,700,800&display=swap&subset=latin-ext" rel="stylesheet")
        link(rel="stylesheet" href="/assets/style.css")
        title Dashboard
    body
        header.header
            h1.header__title Dashboard
        
        main.content
            .stats
                h2.stats__header Top 10 (Best)
                table.stats__table
                    thead
                        th #
                        th level
                        th score
                    tbody
                        each item in best
                            tr
                                td= item.id
                                td= item.level
                                td= item.score
            .stats
                h2.stats__header Last 10
                table.stats__table
                    thead
                        tr
                            th #
                            th level
                            th score
                            th status
                    tbody
                        tr
                            td 1
                            td 1
                            td 999
                            td Win
        script(src="/assets/vue.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/assets/admin.js")


